apiVersion: v1
kind: Service
metadata:
  name: {{ service.name }}
  namespace: {{ app.namespace }}
  labels:
    app: {{ app.name }}
spec:
  type: {{ service.type }}
  selector:
    app: {{ app.name }}
  ports:
    - name: http
      port: {{ service.port }}
      targetPort: {{ service.targetPort }}
